* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

button {
  cursor: pointer;
  display: block;
}

body,
.sentence_display {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.correct {
  color: black;
}

.incorrect {
  color: red;
}

.underline {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.container {
  position: relative;
  width: 400px;
}

.sentence_display {
  width: 100%;
  white-space: pre-wrap;
  /* Preserve spaces and line breaks */
  color: rgba(0, 0, 0, 0.5);
}

.type_input {
  position: relative;
  width: 100%;
  opacity: 0;
  /* Make the textarea invisible */
}
