:root {
  --fs-header: 1rem;
  --fs-text: 1.5rem;
  --BG-light: #f0f0f0;
  --BG-dark: #333;
  --color-light: #333;
  --color-dark: #f0f0f0;
  --pad-text: 1rem 2rem;
  --border-text: 3px solid blue;
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
  font-size: var(--fs-text);
  color: var(--color-light);
  background-color: var(--BG-light);
}

button {
  cursor: pointer;
  display: block;
}

header {
  padding: 1rem 0;
  font-size: var(--fs-header);
  text-align: center;
}

h1 {
  margin-bottom: 1rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.correct {
  color: black;
}

.incorrect {
  color: red;
}

.underline {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.container {
  position: relative;
  width: 400px;
}

.sentence_display {
  width: 100%;
  word-break: break-all;
  padding: var(--pad-text);
  white-space: pre-wrap;
  border: var(--border-text);
  border-radius: 5px;
  /* Preserve spaces and line breaks */
  color: rgba(0, 0, 0, 0.5);
}

.type_input {
  position: relative;
  width: 100%;
  opacity: 0;
  /* Make the textarea invisible */
}

/* Media Queries */

/* For tablets (portrait and landscape) */
@media (max-width: 768px) {
  :root {
    --fs-header: 0.9rem;
    --fs-text: 1.2rem;
    --pad-text: 0.8rem 1.5rem;
  }

  .container {
    width: 80%;
  }
}

/* For mobile phones (portrait and landscape) */
@media (max-width: 480px) {
  :root {
    --fs-header: 0.8rem;
    --fs-text: 1rem;
    --pad-text: 0.5rem 1rem;
  }

  .container {
    width: 100%;
  }

  header {
    padding: 0.5rem 0;
  }
}
